[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-factoryboy = "*"
numpy = "*"
pandas = "*"
torch = "*"
torchvision = "*"
matplotlib = "*"
flask = "==1.1.4"
flask-restx = "==0.3.0"
jsonref = "*"
json-ref-dict = "*"
pymongo = "*"
mongoengine = "*"
flask-mongoengine = "*"
inflection = "*"
sklearn = "*"
tqdm = "*"
pytest-mock = "*"
coverage = "*"
python-dotenv = "*"
tensorboard = "*"
pytorch-nlp = "*"
graphviz = "*"
jupyterlab = "*"
pytest-xdist = "*"
gym = "*"
coloredlogs = "*"
blinker = "*"
click = "==7.0.0"
pytest-randomly = "*"
sentry-sdk = {extras = ["flask"], version = "*"}
ray = {version = "==1.7.0", extras = ["default"]}
celery = {version = "==5.1.2", extras = ["redis"]}
"stomp.py" = "==7.0.0"

[dev-packages]
pytest-factoryboy = "*"
factory-boy = "*"
ipytest = "*"
mongomock = "*"
pytest = "*"
pre-commit = "*"
pylint = "*"
graphviz = "*"
jupyter = "*"
jupyterlab = "*"
pytest-xdist = "*"
black = "==20.8b0"

[requires]
python_version = "3.7"
