[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
torch = "*"
matplotlib = "*"
flask = "*"
flask-restx = "*"
mongoengine = "*"
inflection = "*"
sklearn = "*"
tqdm = "*"
python-dotenv = "*"
tensorboard = "*"
coloredlogs = "*"
"stomp.py" = "*"
pydantic = "*"
sentry-sdk = {extras = ["flask"], version = "*"}
celery = {extras = ["redis"], version = "*"}
flask-mongoengine = "*"
pymongo = "==3.12"
pillow = ">=9.1.1"
notebook = ">=6.4.12"
werkzeug = "==2.1.2"

[dev-packages]
factory-boy = "*"
pytest = "*"
pre-commit = "*"
pylint = "*"
graphviz = "*"
jupyter = "*"
pytest-xdist = "*"
black = "*"
coverage = "*"
pytest-randomly = "*"
pytest-mock = "*"

[requires]
python_version = "3.10"
