[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-factoryboy = "*"
factory-boy = "*"
ipytest = "*"
mongomock = "*"
pytest = "*"
black = "==20.8b1"
pre-commit = "*"
pylint = "*"
graphviz = "*"
jupyter = "*"
jupyterlab = "*"
pytest-xdist = "*"

[packages]
numpy = "*"
pandas = "*"
torch = "*"
torchvision = "*"
matplotlib = "*"
Flask = "==1.1.4"
flask-restx = "==0.3.0"
jsonref = "*"
json-ref-dict = "*"
pymongo = "*"
mongoengine = "*"
flask-mongoengine = "*"
inflection = "*"
sklearn = "*"
tqdm = "*"
pytest-mock = "*"
coverage = "*"
python-dotenv = "*"
tensorboard = "*"
pytorch-nlp = "*"
graphviz = "*"
jupyterlab = "*"
pytest-xdist = "*"
gym = "*"

[requires]
python_version = "3.7"

[packages.sentry-sdk]
extras = [ "flask",]
version = "*"

[packages.ray]
extras = [ "default",]
version = "==1.7.0"

[packages.celery]
extras = [ "redis",]
version = "==5.1.2"